body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav #joinNotice {
    color: #fff;
    font-size: 10px;
}

.notice {
    padding: 4px;
    border: 1px solid;
    margin: 0 8px 0 4px;
    word-break: break-word;
}

.notice div {
    margin: 4px 2px 6px;
}

.notice span {
    font-weight: 600;
    font-style: italic;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

div#publicMessage {
    max-height: 79vh;
    overflow-y: scroll;
    word-break: break-word;
}

.chat-wrapper {
    bottom: 10px;
    position: absolute;
    width: 90%;
}

input#inputText {
    padding: 6px 10px;
    margin: 0;
    width: 50%;
    font-size: 14px;
    line-height: 1.2;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 10px 4px;
    padding: 8px 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.test-room-btn {
    background-color: #c15064;
}

.hidden {
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}